*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Header Section */
.page-header{
    background-color: lightgray;
    height:60px;
}
.page-header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.page-header nav h1{
    font-weight: bolder;
    letter-spacing: 2px;
}

/* + Button */

.popupbtn{
    padding: 30px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.popupbtn:active{
    scale: 0.95;
}

/* Student Card Container */

.student-card-container{
    /* background-color: yellow; */
    padding: 24px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.student-card{
    /* flex-basis: 25%; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color:lightgray;
    width: 500px;
}
.student-card h2{
    font-size: 19.5px;
    font-weight: bolder;
}
#image-container{
    height: 231px;
}
#image-container img{
    width: 210px;
    height: 231px;
}
#contact-container{
    padding-left: 25px;
    padding-right: 10px;
}
#contact-container ul{
    padding-left: 35px;
}
.delbtn{
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    float: right;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: black;
    color: white;
}
.delbtn:active{
    scale: 0.95;
}

/* Popup Box */

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    display: none;
}
.popupbox{
    position: absolute;
    width: 600px;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    background-color:lightgray;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
    display: none;
}
.popup-header{
    border-radius: 10px 10px 0 0;
    background-color: black;
    padding-left:20px ;
}
.input-container{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 0 20px;
}

input{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    color: black;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.submitbtn{
    padding: 5px 10px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.submitbtn:active{
    scale: 0.95;
}
.addbtn{
    padding: 5px 10px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 20px;
    background-color: rgb(43, 26, 221);
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.addbtn:active{
    scale: 0.95;
}
.classbtn{
    padding: 5px 10px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 20px;
    background-color: rgb(221, 26, 26);
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.classbtn:active{
    scale: 0.95;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
input:focus{
    outline: none;
}
input::placeholder{
    color: black;
}
